@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import "tailwindcss";



:root {
  --background: #c1c1c1;
  --foreground: #171717;
  --font-sans: 'Arial', sans-serif;
  --font-mono: 'Courier New', monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;  
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.fontAnton {
  font-family: 'Anton';
}